@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  background-color: getColor("base");
  color: getColor("text");
  background-color: #000000;
  color: #8491a0;
  font-family: Sen, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

button {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 48px 20px;
  margin: 0 auto;
}
@media screen and (min-width: 360px) {
  .container {
    width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 80px 40px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 120px 72px;
  }
}

.experience__suptitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #8491a0;
  margin-bottom: 8px;
}

.experience__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  color: #ffffff;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .experience__title {
    font-size: 55px;
    line-height: 1.2;
  }
}

.experience_number {
  font-weight: 400;
  font-size: 117px;
  line-height: 1.21;
  color: #8491a0;
}

.experience__header {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 16px;
}

.experience__google {
  color: #3cc74e;
}

.experience__facebook {
  color: #609bff;
}

.experience__dribbble {
  color: #e95d90;
}

.experience__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #8491a0;
}

.experience__card:not(:last-child) {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .experience__card:not(:last-child) {
    margin-bottom: 0;
  }
  .experience__card {
    width: 213px;
  }
  .experience__list {
    display: flex;
    gap: 24px;
    flex-basis: calc((100% - 48px) / 3);
  }
  .experience__header {
    width: 197px;
  }
}
@media screen and (min-width: 1440px) {
  .experience__card {
    width: 416px;
  }
  .experience__header {
    width: 100%;
  }
}
.section-photography__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.18;
  margin-bottom: 24px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .section-photography__title {
    font-size: 55px;
    line-height: 1.2;
  }
}

.section-photography__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .section-photography__text {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 1440px) {
  .section-photography__text {
    max-width: 588px;
  }
}

.button-set {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .button-set {
    flex-wrap: nowrap;
  }
}

.button-set__button {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  width: 148px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #5221e6;
  padding: 12px 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .button-set__button {
    width: auto;
    padding: 12px 16px;
  }
}

.button-set__button:hover,
.button-set__button:focus {
  background-color: #5221e6;
}

.photo-set {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .photo-set {
    flex-direction: row;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=index.css.map */