.container {
  padding: 48px 20px;
  margin: 0 auto;

  @media screen and (min-width: 360px) {
    width: 360px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 80px 40px;
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
    padding: 120px 72px;
  }
}
