<section class="about">
  <div class="about__container container">
    <h2 class="about__title">This is what people say about me</h2>
    <p class="about__text">
      Here are a few lines from people who I have worked with over the past 8+
      years in my design career.
    </p>
    <a href="#" class="about__link link">See all testimonials</a>
    <ul class="about__list list">
      <li class="about__item">
        <picture>
          <source
            srcset="
              ./images/desktop/testimonal1-d-1x.jpg 1x,
              ./images/desktop/testimonal1-d-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/tablet/testimonial1-t-1x.jpg 1x,
              ./images/tablet/testimonial1-t-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/mobile/testimonial1-m-1x.jpg 1x,
              ./images/mobile/testimonial1-m-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            src="./images/mobile/testimonial1-m-1x.jpg"
            alt="Richard Owens"
            class="about-img"
          />
        </picture>
        <div class="about__box">
          <p class="about__box-what-say">
            ‘’Robin is one of the best designers I have worked with in my entire
            life. He is a designer who is very capable of taking up complex
            projects and delivers impeccable design.’’
          </p>
          <p class="about__box-who-say">Richard Owens</p>
          <p class="about__box-company">CEO, Company 1</p>
        </div>
      </li>
      <li class="about__item">
        <picture>
          <source
            srcset="
              ./images/desktop/testimonal2-d-1x.jpg 1x,
              ./images/desktop/testimonal2-d-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/tablet/testimonial2-t-1x.jpg 1x,
              ./images/tablet/testimonial2-t-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/mobile/testimonial2-m-1x.jpg 1x,
              ./images/mobile/testimonial2-m-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            src="./images/mobile/testimonial2-m-1x.jpg"
            alt="Emily Parker"
            class="about-img"
          />
        </picture>
        <div class="about__box">
          <p class="about__box-what-say">
            ‘’I think Robin has an incredible gift. It has been an absolute
            pleasure to work with a designer of this caliber.’’
          </p>
          <p class="about__box-who-say">Emily Parker</p>
          <p class="about__box-company">CEO, Company 2</p>
        </div>
      </li>
      <li class="about__item">
        <picture>
          <source
            srcset="
              ./images/desktop/testimonal3-d-1x.jpg 1x,
              ./images/desktop/testimonal3-d-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/tablet/testimonial3-t-1x.jpg 1x,
              ./images/tablet/testimonial3-t-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/mobile/testimonial3-m-1x.jpg 1x,
              ./images/mobile/testimonial3-m-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            src="./images/mobile/testimonial3-m-1x.jpg"
            alt="Vincent  Rudd"
            class="about-img"
          />
        </picture>
        <div class="about__box">
          <p class="about__box-what-say">
            ‘’All I can say that, Robin is a phenomenal designer. The wavelength
            at which he thinks is astoundaing. I love the focus, passion and
            attention to detial in the design.’’
          </p>
          <p class="about__box-who-say">Vincent Rudd</p>
          <p class="about__box-company">CEO, Company 1</p>
        </div>
      </li>
    </ul>
  </div>
</section>
