<section class="get-started conteiner">
  <div class="get-starter-text-wraper conteiner">
    <h2 class="get-started__title">Let's get started</h2>
    <p class="get-started__text">
      Now that you know a lot about me, let me know if you are interested to
      work with me.
    </p>
  </div>
  <form class="get-started-form conteiner">
    <label class="get-started-form__label">
      Name
      <input class="get-stated-form__input" name="user-name" type="text" />
    </label>
    <label class="get-started-form__label">
      Email
      <input class="get-stated-form__input" name="user-email" type="email" />
    </label>
    <label class="get-started-form__label">
      Message
      <textarea
        class="get-started-form__textarea"
        name="user-message"
      ></textarea>
    </label>

    <button class="get-started-form__button" type="submit">
      Let's get started
    </button>
  </form>
</section>
