<section class="projects">
    <div class="projects__align">
    <div class="projects__box">
    <p class="page-text">MY PROJECTS</p>
    <h2 class="projects__title">Work that I&#39ve done for the past 8 years</h2>
<ul>
    <li class="projects__item">
        <picture>
          <source
            srcset="./img/desktop/project1-d-1x.jpg 1x, ./img/desktop/project1-d-1x.jpg 2x"
            media="(min-width: 1200px)"
          />

          <source
            srcset="./img/tablet/project1-t-1x.jpg 1x, ./img/tablet/project1-t-1x.jpg 2x"
            media="(min-width: 768px)"
          />

          <source
            srcset="./img/mobile/project1-m-1x.jpg 1x, ./img/mobile/project1-m-2x.jpg 2x"
            media="(max-width: 767px)"
          />
        <img class="projects__img" src="./img/mobile/project1-m-1x.jpg"   alt="first project icon" >
        </picture>
        <div class="projects__card-info">
            <h3 class="projects__card-title">Restaurant Website Design</h3>
            <p class="projects__card-text">I worked with the guys at CBRE to redesign their
                 entire website and mobile app fro both Android and iOS.
                 This project lasted for 4 months and was a very challenging one.</p>
    </div>
    </li>
    <li class="projects__item">
        <picture>
            <source
              srcset="./img/desktop/project2-d-1x.jpg 1x, ./img/desktop/project2-d-1x.jpg 2x"
              media="(min-width: 1200px)"
            />
  
            <source
              srcset="./img/tablet/project2-t-1x.jpg 1x, ./img/tablet/project2-t-1x.jpg 2x"
              media="(min-width: 768px)"
            />
  
            <source
              srcset="./img/mobile/project2-m-1x.jpg 1x, ./img/mobile/project2-m-2x.jpg 2x"
              media="(max-width: 767px)"
            />
          <img class="projects__img" src="./img/mobile/project2-m-1x.jpg"   alt="first project icon" >
          </picture>
        <div class="projects__card-info">
        <h3 class="projects__card-title">Restaurant Website Design</h3>
        <p class="projects__card-text">I worked with the guys at CBRE to redesign theirnpm entire website
             and mobile app fro both Android and iOS.
             This project lasted for 4 months and was a very challenging one.</p>        </div>
            
    </li>
</div>

    <div class="projects__box project__right-side ">    
    <ul >
            <li class="projects__item">
                <picture>
                    <source
                      srcset="./img/desktop/project3-d-1x.jpg 1x, ./img/desktop/project3-d-1x.jpg 2x"
                      media="(min-width: 1200px)"
                    />
          
                    <source
                      srcset="./img/tablet/project3-t-1x.jpg 1x, ./img/tablet/project3-t-1x.jpg 2x"
                      media="(min-width: 768px)"
                    />
          
                    <source
                      srcset="./img/mobile/project3-m-1x.jpg 1x, ./img/mobile/project3-m-2x.jpg 2x"
                      media="(max-width: 767px)"
                    />
                  <img class="projects__img" src="./img/mobile/project3-m-1x.jpg"   alt="first project icon" >
                  </picture>
            <div class="projects__card-info">
                <h3 class="projects__card-title">Restaurant Website Design</h3>
                <p class="projects__card-text">I worked with the guys at CBRE to redesign their entire website
                     and mobile app fro both Android and iOS.
                     This project lasted for 4 months and was a very challenging one.</p>
        </div>
        </li>
        <li class="projects__item">
            <picture>
                <source
                  srcset="./img/desktop/project4-d-1x.jpg 1x, ./img/desktop/project4-d-1x.jpg 2x"
                  media="(min-width: 1200px)"
                />
      
                <source
                  srcset="./img/tablet/project4-t-1x.jpg 1x, ./img/tablet/project4-t-1x.jpg 2x"
                  media="(min-width: 768px)"
                />
      
                <source
                  srcset="./img/mobile/project4-m-1x.jpg 1x, ./img/mobile/project4-m-2x.jpg 2x"
                  media="(max-width: 767px)"
                />
              <img class="projects__img" src="./img/mobile/project4-m-1x.jpg"   alt="first project icon" >
              </picture>
            <div class="projects__card-info">
            <h3 class="projects__card-title">Restaurant Website Design</h3>
            <p class="projects__card-text">I worked with the guys at CBRE to redesign their entire website
                 and mobile app fro both Android and iOS.
                 This project lasted for 4 months and was a very challenging one.</p></div>
        </li>
</ul>
<a class="projects__link" href="#">VIeW ALL PROJECTS</a>
</div>
</div>
</section>