<div class="container">
  <div class="social__container-discription">
    <h2 class="social__title">Instagram</h2>
    <p class="social__description">
      If you area a person who enjoys photography, then I highly recommend that
      you check out my Instagram. I’m an avid traveller and I capture the best
      moments that I would love to cherish with the world
    </p>
    <p>Follow me on IG</p>
  </div>
  <div>
    <picture>
      <source
        srcset="
          ./images/desktop/instagram-d-1x.jpg 1x,
          ./images/desktop/instagram-d-2x.jpg 2x
        "
      />
      <source
        srcset="
          ./images/tablet/instagram-t-1x.jpg 1x,
          ./images/tablet/instagram-t-2x.jpg 2x
        "
      />
      <img
        srcset="
          ./images/tablet/instagram-t-1x.jpg 1x,
          ./images/tablet/instagram-t-2x.jpg 2x
        "
        src="./images/desktop/instagram-d-1x.jpg"
        alt="plane in the sky"
        loading="lazy"
      />
    </picture>
  </div>
</div>
