<section class="section value-section">
    <div class=" value-container">
        <div class="value-data">
        <h2 class=" value-data__title">Philosophy &#38 values</h2>
        <p class="value-data__text">I think everyone wants the same thing - relationship with humanity, peace with the metaphysical, and experience with the universe. I try to grasp these things with my values: authenticity, creativity, &#38 hospitality.</p>
        <a href="#" class="link value-data__link">More about me   
        </a>
         </div>
         <div class="value-img-area">
         <picture>
            <source
                  srcset="
                    ./images/desktop/philosophy-d-1x.jpg   1x,
                    ./images/desktop/philosophy-d-2x.jpg  2x
                  "
                  media="(min-width: 1440px)"
                  type="image/webp"
                />
             <source
                  srcset="
                    ./images/desktop/philosophy-d-1x.webp    1x,
                    ./images/desktop/philosophy-d-2x.webp 2x
                  "
                  media="(min-width: 1440px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/tablet/philosophy-t-1x.jpg    1x,
                    ./images/tablet/philosophy-t-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                  type="image/webp"
                />
             <source
                  srcset="
                    ./images/tablet/philosophy-t-1x.webp    1x,
                    ./images/tablet/philosophy-t-2x.webp 2x
                  "
                  media="(min-width: 768px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/mobile/philosophy-m-1x.jpg    1x,
                    ./images/mobile/philosophy-m-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                  type="image/webp"
                />
             <source
                  srcset="
                    ./images/mobile/philosophy-m-1x.webp    1x,
                    ./images/mobile/philosophy-m-2x.webp 2x
                  "
                  media="(max-width: 767px)"
                  type="image/webp"
                />
                <img src=" ./images/desktop/philosophy-d-1x.jpg" alt="скляна куля" class="value-img"/>
         </picture>
         </div>
    </div>
</section>

