<section class="section">
    <div class="container">
        <div class="value-data">
        <h2 class="title value-data__title">Philosophy &#38 values</h2>
        <p class="value-data__text">I think everyone wants the same thing - relationship with humanity, peace with the metaphysical, and experience with the universe. I try to grasp these things with my values: authenticity, creativity, & hospitality.</p>
        <a href="#" class="link">
            <p class="value-data__link"></p>
        </a>
         </div>
         <picture>
             <source
                  srcset="
                    ./images/desktop/demyanenko.webp    1x,
                    ./images/desktop/demyanenko@2x.webp 2x
                  "
                  media="(max-width: 767px)"
                  type="image/webp"
                />
                <img src="./images/demyanenko.jpg" alt="Ігор Дем'яненко" />
         </picture>
    </div>
</section>

