.style-footer {
    position: relative;
    width: 1440px;
    height: 11902px;
    background-color: #000000;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proposal {}

.form {}

.form-modal {}

.form-field {}

.field {}

.form-label {}

.form-comment {}

.hero__button {}

.button {}

.address-container {}

.logo {}

.footer-logo {}

.container-network {}

.networks {}

.item-li {}

.footer-link-soc {}

.button-icon {}

.copypast {}

.footer-about {}

.footer-link {}

.link-about {}