@media screen and (min-width: 1440px) {
    .container-description {
        width: 720px;
    }
    .container-social {        
        background-color: #000000;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 720px 0px;
    }
}
// <<<<<<<<<<--DESKTOP-->>>>>>>>>>>>
@media screen and (min-width: 1440px) {
    .container-social {        
        background-image: linear-gradient(rgba(0, 0, 0, 5), rgba(0, 0, 0, 5)),
            url(/src/images/desktop/instagram-d-1x.jpg);
    }
    .title {    
        margin-bottom: 24px;
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        line-height: 1.2;      
        color: #181823;
    }    
    .description {
        margin-bottom: 134px;
        width: 576px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;    
        color: #5B6876;
    }
    .remark {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #181823;
    }
}
@media screen and (min-device-picel-ratio: 2) and (min-width: 1440px),
screen and (min-resolution: 192dpi) and (min-width: 1440px),
screen and (min-resolution: 2dppx) and (min-width: 1440px) {
    .container-hero {
        background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)),
            url(/src/images/desktop/instagram-d-2x.jpg);
    }
}
